<app-alumninav></app-alumninav>

<body>
    <div class="grid">
        <div class="grid-item sidebar">
            <img class="profile" src="../../../assets/img/nikunj.jpg" alt="gmail">
            <!-- Add edit+redirect icon -->
            <h4 style="margin-top: 30px">Nikunj Panchal</h4>
            <p>SRM Institue of Science and Technology</p>
            <p>Batch of 2015</p>
            <p>Btech in Mechatronics</p>
        </div>
        <div class="grid-item content">
            <h6>NEWS FEED</h6>
            <hr>
            <div>
                <form [formGroup]="newpostform">
                    <textarea class="post" rows="2" placeholder="Describe the opportunity?" formControlName="details"></textarea>
                    <textarea class="post" rows="2" placeholder="What are the skills required?" formControlName="skilldetails"></textarea>
                    <textarea class="post" rows="2" placeholder="Where is it located?" formControlName="locationdetails"></textarea>
                    <button class="btn btn-success" 
                    (click)="createnewpost(newpostform)">Publish</button>
                    <p class="text-center onaddpostmessage">{{formmessage}}</p>
                </form>
            </div>
            <div class="feed" *ngFor="let document of documents">
                <div>
                    <img class="face-1" src="../../../assets/img/face1.jpg" alt="">
                </div>
                <div>
                    <h4>
                        Ishan Chabbra:
                    </h4>
                    <button class="skills">{{document.payload.doc.data().skilldetails}}</button>
                    <br>
                    <img class="location" src="../../../assets/img/location.svg" alt="">
                    <p style="display: inline-block;">{{document.payload.doc.data().locationdetails}}</p>
                    <p>
                        {{document.payload.doc.data().details}}
                    </p>
                    <div>
                        <span class="likesharecmnt" style="margin-top: 10px"><a>Apply</a> - <a>Share</a> - <a>Tag</a></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="grid-item aside">
            <h6>PINBOARD</h6>
            <hr>
            <div class="notice">
                <h4>Your connection, Shrey Sachdeva is attending the SIH Hackathon.</h4>
                <div>
                    <h6>Like - Comment - Redirect</h6>
                    <!-- To be replaced with icons -->
                </div>
            </div>
            <div class="notice">
                <h4>Yaksh is attending MOZOFEST'20.</h4>
                <div>
                    <h6>Like - Comment - Redirect</h6>
                </div>
            </div>
            <div class="notice">
                <h4>Harsh Goel, started a new position at Alphabet Inc.</h4>
                <div>
                    <h6>Like - Comment - Redirect</h6>
                </div>
            </div>
            <div class="notice">
                <h4>Congratulate Shrey Sachdeva on getting promoted as a new Tech position at SRMKZILLA.</h4>
                <div>
                    <h6>Like - Comment - Redirect</h6>
                </div>
            </div>
            <div class="notice">
                <h4>A new job role opened at HCL Technologies.</h4>
                <div>
                    <h6>Like - Comment - Redirect</h6>
                </div>
            </div>

        </div>
    </div>
</body>