<body>
    <app-adminnav></app-adminnav>
  <div class="nav-head">
    <h3>Alumni Association</h3>
  </div>
  <div class="container"></div>

  <h4>Events</h4>
  <button class="add-event" type="button">Add Event</button>
  <button class="delete-event" type="button">Delete Event</button>
  <div class="event-cards">
    <div>
      <h2>MOZOFEST'20</h2>
      <img src="" alt="event-image">
    </div>
    <div>
      <p>Event Details</p>
      <p style="color: #000">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Eligendi ipsum consequuntur
        voluptatibus molestiae quam, exercitationem dignissimos nostrum blanditiis esse ratione?</p>
      <div class="event-details">
        <div>
          <p>Date</p>
          <p>20th-22nd March</p>
        </div>
        <div>
          <p>Venue</p>
          <p>SRM IST</p>
        </div>
        <div>
          <p>Time</p>
          <p>12:30 pm</p>
        </div>
      </div>
    </div>
  </div>
</body>
