body {
    background-color: #F9F9F9!important ;
    height: 100vh;
}

.nav-head {
    position: absolute;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 8px 2px #ccc;
    padding-left: 80px;
    padding-top: 10px;
}


h4 {
    margin: 0px 100px 50px 100px;
    padding-top: 100px;
    color: #323A47;
}

h2 {
    font-size: 34px;
    color: #727CF5;
}

.stat-cards {
    display: flex;
    margin-left: 70px;
}

.card {
    height: 150px;
    width: 250px;
    background-color: #fff;
    margin-left: 80px;
    padding-top: 30px;
}

#auth {
    margin-left: 100px;
    text-align: left;
}

.event-cards {
    margin-left: 100px;
    display: flex;
    background-color: #fff;
    padding: 20px;
    width: 85%;
    margin-bottom: 30px;
}
.event-details {
    display: flex;
}

.event-details>div {
    margin-right: 30px;
}

.add-event {
    margin-left: 100px;
    margin-bottom: 30px;
}

.delete-event {
    position: relative;
    
}

.eventdetailshead{
    color: gray;
    font-size: 20px;
    padding-top: 60px;
}
.eventdetailshead1{
    color: gray;
    font-size: 16px;
    padding-top: 10px;
}
