<body>
  <div class="container">
    <h1 class="alumni-reg-heading">Admin Login</h1>
    <form class="official-login" [formGroup]="loginform">
      <div class="form-group">
        <label for="alumni-email">Email address</label>
        <input type="email" class="form-control" id="alumniemail" formControlName="alumniemail">
      </div>
      <div class="form-group">
        <label for="alumni-password">Password</label>
        <input type="text" class="form-control" id="alumnipassword" formControlName="alumnipassword">
      </div>
      <button type="submit" (click)="Signin(loginform)" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
