<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->


<!-- NAVBAR -->
<header class="site-navbar mt-3" id="top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-6"><a routerLink ="/home">Alumnect</a></div>
            <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li><a routerLink ="/home" class="nav-link active">Home</a></li>
                    <li><a href="#about-us-section">About us</a></li>
                    <li><a href="#services-section">Services</a></li>
                    <li class="has-children">
                        <a href="services.html">Get started</a>
                        <ul class="dropdown">
                            <li><a routerLink ="/alumnilogin">Alumni Login</a></li>
                            <li><a routerLink ="/adminlogin">Official Login</a></li>
                            <li><a routerLink ="/studentlogin">Student Login</a></li>
                        </ul>
                    </li>
                    <li><a href="#contactus">Contact us</a></li>
                </ul>
            </nav>
            <div class="col-6 site-burger-menu d-block d-lg-none text-right">
                <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
            </div>
        </div>
    </div>
</header>