<body>
  <div class="head"></div>
  <img class="illustration" src="images/mail_illustration.svg" alt="mail-illustration">
  <h1>Please verify your email</h1>
  <h2>and get started with Inspire</h2>
  <div class="shortcut-account">
    <div class="shortcut">
      <img src="images/gmail.svg" alt="gmail">
      <h4><a style="text-decoration: none; color: inherit" href="https://gmail.com">Open Gmail</a></h4>
    </div>
    <div class="shortcut">
      <img src="images/outlook.svg" alt="outlook">
      <h4><a style="text-decoration: none; color: inherit" href="https://outlook.live.com">Open Outlook</a></h4>
    </div>
  </div>
  <h5>Didn't recieve an email? Click here.</h5>
</body>
