<body>
  <img class="logo" src="../../../assets/img/Connekt_logo.svg" alt="">
  <div class="head"></div>
  <img class="illustration" src="../../../assets/img/mail_illustration.svg" alt="mail-illustration">
  <div class="verification">
    <h1>Please verify your email</h1>
    <h2>to get started with us</h2>
    <div class="shortcut-account">
      <div class="shortcut">
        <img src="../../../assets/img/gmail.svg" alt="gmail">
        <h4><a style="text-decoration: none; color: inherit" href="https://gmail.com">Open Gmail</a></h4>
      </div>
      <div class="shortcut">
        <img src="../../../assets/img/outlook.svg" alt="outlook">
        <h4><a style="text-decoration: none; color: inherit" href="https://outlook.live.com">Open Outlook</a></h4>
      </div>
    </div>
    <a class="resendemail" routerLink='/login'>Didn't recieve an email? Click here.</a>
  </div>
</body>
