@font-face {
    font-family: 'Bahnschrift';
    src: url(../../../assets/fonts/bahnschrift.ttf);
  }
  
  @font-face {
    font-family: 'SF-UI';
    src: url(../../../assets/fonts/SF-UI-Display-Regular.otf);
  }
  h1 {
  font-family: 'SF-UI';
  font-size: 38px;
  margin: auto;
  text-align: center;
  margin-top: 18%;
}

h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.shortcut img {
  height: 30px;
  width: auto;
  padding-left: 10px;
}

.shortcut {
  display: inline-block;
  border: 0.6px solid var(--grey-color);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 200px;
  padding: 8px 20px;
  margin-left: 20px;
  cursor: pointer;
}

.shortcut h4 {
  font-size: 14px;
  padding-left: 20px;

}

.shortcut-account {
  display: flex;
  margin-top: 50px;
  margin-left: 35%;
  text-align: center;
}

h5 {
  display: block;
  color: var(--primary-color);
  margin: auto;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.illustration {
  position: absolute;
  top: 13%;
  left: 43%;
  height: 200px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: auto;
}

.profile-illustration {
  position: absolute;
  top: 30%;
  left: 22%;
  height: 310px;
  width: auto;
}

#continue {
  height: 40px;
}

@media only screen and (device-width : 375px) and (device-height : 812px) {
  h1 {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    margin-top: 70%;
    width: 300px
  }

  h2 {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .shortcut img {
    display: inline-block;
    height: 30px;
    width: auto;
    padding-left: 10px;
  }

  .shortcut-account {
    display: block;
    margin-top: 50px;
    margin-left: 5%;
    text-align: center;
  }

  .shortcut {
    display: block !important;
    border: 0.6px solid var(--grey-color);
    border-radius: 15px;
    display: block;
    flex-direction: row;
    width: 250px !important;
    padding: 8px 20px;
    cursor: pointer;
  }

  .shortcut h4 {
    font-size: 14px;
    padding-left: 20px;

  }

  h5 {
    margin-left: 45%;
    font-size: 18px;
  }

  .illustration {
    position: absolute;
    top: 10%;
    left: 26%;
    height: 200px;
    width: auto;
  }
}