<body>
	<div class="container">
		<div class="login-box">
				<div class="row">
					<div class="col-8">
						<form>
						<h1 class="alumni-reg-heading">Alumni Registeration</h1>
							<!-- Name -->
							<div class="row">

								<div class="col-md-6">
									<div class="form-group">
										<label for="firstname">First Name</label>
										<input type="text" class="form-control" id="firstname" name="firstname">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="lastname">Last Name</label>
										<input type="text" class="form-control" id="lastname" name="lastname">
									</div>
								</div>

							</div>

							<!-- College -->
							<div class="form-group">
								<label for="college">College</label>
								<select class="form-control" id="college" name="college">
									<option>SRM</option>
									<option>IIT BOMBAY</option>
									<option>IIT KANPUR</option>
									<option>SRM NCR</option>
									<option>BITS GOA</option>
								</select>
							</div>

							<!-- Course and Year -->
							<div class="row">

								<div class="col-md-6">
									<div class="form-group">
										<label for="course">Course</label>
										<select class="form-control" id="course" name="course">
											<option>IIT BOMBAY</option>
											<option>IIT KANPUR</option>
											<option>SRM NCR</option>
											<option>BITS GOA</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="year">Year</label>
										<select class="form-control" id="year" name="year">
											<option>2000</option>
											<option>3001</option>
										</select>
									</div>
								</div>

							</div>

							<!-- Email -->
							<div class="form-group">
								<label for="email">Email address</label>
								<input type="email" class="form-control" id="email" name="email">
							</div>

							<!-- Password -->
							<div class="form-group">
								<label for="password">Set password</label>
								<input type="password" class="form-control" id="password">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					<h6 class="text-center">Already a user? Login</h6>
				</div>
				<div class="col-4">
                    <h1 class="alumni-reg-heading">Official Login</h1>
					<form class="official-login">
						<div class="form-group">
						    <label for="official-email">Email address</label>
						    <input type="email" class="form-control" id="official-email">
						</div>
						<div class="form-group">
						    <label for="official-password">Password</label>
						    <input type="password" class="form-control" id="official-password">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
			<div class="slider">
                <h1 class="register-font text-center">Are you an official?</h1>
                <h6 class="text-center">Click here</h6>
			</div>
		</div>
	</div>
</body>