<body>
	<div class="container">
		<div class="login-box">
				<div class="row">
					<div class="col-8">
						<form [formGroup]="addDocumentForm" novalidate>
						<h1 class="alumni-reg-heading">Alumni Registeration</h1>
							<!-- Name -->
							<div class="row">

								<div class="col-md-6">
									<div class="form-group">
										<label for="firstname">First Name</label>
										<input type="text" class="form-control" id="firstname" formControlName="firstname">
									</div>
								</div>
								<div class="col-md-5 colno2">
									<div class="form-group">
										<label for="lastname">Last Name</label>
										<input type="text" class="form-control" id="lastname" formControlName="lastname">
									</div>
								</div>

							</div>

                            <!-- College -->
                            <div class="form-group">
                                <label for="regno">Registeration Number</label>
                                <input type="text" class="form-control" id="regno" formControlName="regno">
                            </div>

							<div class="form-group">
								<label for="college">College</label>
								<select class="form-control" id="college" formControlName="college">
									<option value="SRM">SRM</option>
									<option value="IIT BOMBAY">IIT BOMBAY</option>
									<option value="IIT KANPUR">IIT KANPUR</option>
									<option value="SRM NCR">SRM NCR</option>
								</select>
							</div>

							<!-- Course and Year -->
							<div class="row">

								<div class="col-md-6">
									<div class="form-group">
										<label for="course">Course</label>
										<select class="form-control" id="course" formControlName="course">
                                            <option value="BTECH">Btech</option>
                                            <option value="BPHARM">Bpharm</option>
										</select>
									</div>
								</div>
								<div class="col-md-5 colno2">
									<div class="form-group">
										<label for="year">Year</label>
										<select class="form-control" id="year" formControlName="year">
											<option>2000</option>
											<option>3001</option>
										</select>
									</div>
								</div>

							</div>

							<!-- Email -->
							<div class="form-group">
								<label for="email">Email address</label>
								<input type="email" class="form-control" id="uemail" formControlName="uemail">
							</div>

							<!-- Password -->
							<div class="form-group">
								<label for="password">Set password</label>
								<input type="password" class="form-control" id="upassword" formControlName="upassword">
							</div>
							<button type="button" class="btn btn-primary" (click)="submitDocument(addDocumentForm)">Submit</button>
						</form>
				</div>
				<div class="col-4">
                    <h1 class="alumni-reg-heading">Alumni Login</h1>
					<form class="official-login">
						<div class="form-group">
						    <label for="alumni-email">Email address</label>
						    <input type="email" class="form-control" id="alumni-email">
						</div>
						<div class="form-group">
						    <label for="alumni-password">Password</label>
						    <input type="password" class="form-control" id="alumni-password">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
			<div class="slider">
                <h1 class="register-font text-center">Already a user?</h1>
                <h6 class="text-center">Click here</h6>
			</div>
		</div>
	</div>
</body>