<body>
  <div class="nav-head">
    <h3>Alumni Association</h3>
  </div>
  <div class="container"></div>
  <nav class="main-menu">
    <ul>
      <li>
        <a href="http://justinfarrow.com">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-laptop fa-2x"></i>
          <span class="nav-text">
            Charts
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text">
            Calendar
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Mailbox
          </span>
        </a>

      </li>
      <li>
        <a href="#">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text">
            Authentication
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-font fa-2x"></i>
          <span class="nav-text">
            Newsletter
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table fa-2x"></i>
          <span class="nav-text">
            Notifications
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <h4>Events</h4>
  <div class="event-cards">
    <div>
      <h2>MOZOFEST'20</h2>
      <img src="" alt="event-image">
    </div>
    <div>
      <p>Event Details</p>
      <p style="color: #000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsum consequuntur
        voluptatibus molestiae quam, exercitationem dignissimos nostrum blanditiis esse ratione?</p>
      <div class="event-details">
        <div>
          <p>Date</p>
          <p>20th-22nd March</p>
        </div>
        <div>
          <p>Venue</p>
          <p>SRM IST</p>
        </div>
        <div>
          <p>Time</p>
          <p>12:30 pm</p>
        </div>
      </div>
    </div>
  </div>

  <h4 style="margin-top: 50px;">Analytics</h4>
  <table id="auth">
    <tr>
      <th>Name</th>
      <th>College</th>
      <th>Batch</th>
      <th>Reg. No.</th>
      <th></th>
      <th>Accept</th>
      <th>Reject</th>

    </tr>
    <tr *ngFor="let document of documents">
      <td>{{ document.payload.doc.data().firstname }}</td>
      <td>{{ document.payload.doc.data().college }}</td>
      <td>{{ document.payload.doc.data().year }}</td>
      <td>{{ document.payload.doc.data().regno}}</td>
      <td></td>
      <td><button class="btn btn-success">Accept</button></td>
      <td><button class="btn btn-danger">Reject</button></td>
    </tr>
  </table>
</body>
