<div class="nav-head">
   <img class="logo" src="../../../assets/img/Connekt_logo.png" alt="logo">
</div>
<div class="container"></div>
<nav class="main-menu">
  <ul>
    <li>
      <a routerLink ="/adminpanel/dashboard">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>
    </li>
<!-- 
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-bar-chart"></i>
        <span class="nav-text">
          Chart
        </span>
      </a>
    </li> -->

    <li class="has-subnav">
      <a routerLink ="/adminpanel/events">
        <i class="fa fa-calendar fa-2x"></i>
        <span class="nav-text">
          Events
        </span>
      </a>
    </li>

    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="nav-text">
          Mailbox
        </span>
      </a>
    </li>
    
    <li>
      <a routerLink="/adminpanel/auth">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="nav-text">
          Authentication
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-newspaper-o"></i>
        <span class="nav-text">
          Newsletter
        </span>
      </a>
    </li> 
    <li>
        <a routerLink="/adminpanel/alumnidata">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="nav-text">
            All Users
          </span>
        </a>
      </li>
    
    
  </ul>

  <ul class="logout">
    <li>
      <a routerLink="/home">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>