@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body {
  background-color: #F9F9F9;
}

.nav-head {
  position: absolute;
  top: 0;
  height: 8%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 8px 2px #ccc;
  padding-left: 80px;
  padding-top: 10px;
}

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #323A47;
  border-right: 1px solid #e5e5e5;
  /* position: absolute;
    top: 0;
    left: 0; */
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  height: 250%;

}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #727CF5;
}

h4 {
  margin: 0px 100px 30px 100px;
  padding-top: 50px;
  color: #323A47;
  font-size: 14px;
}

h2 {
  font-size: 38px;
  color: #727CF5;
}

.stat-cards {
  display: flex;
  margin-left: 50px;
}

.card {
  height: 150px;
  width: 250px;
  background-color: #fff;
  margin-left: 50px;
  padding-top: 30px;
}

#auth {
  text-align: left;
 
}

th {
  padding-left: 100px;
  padding-bottom: 10px;
  font-family: 'Bahnschrift';
}

td {
  padding-left: 100px;
  padding-bottom: 10px;
}

tr {
  width: 100%;
}

.btn-accept {
  background-color: #4ED964;
  border-radius: 20px;
  color: #fff;
  font-family: 'Bahnschrift' ;
}

.btn-reject {
  background-color: #FF3A31;
  border-radius: 20px;
  color: #fff;
  font-family: 'Bahnschrift' ;
}

.invite-table {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  margin-left: 100px;
  margin-right: 50px;
  padding: 30px 0px;
}

p {
  font-family: 'Bahnschrift';
}
.chartscont{
  margin-left: 100px;
    margin-top: 60px;

}