<app-alumninav></app-alumninav>

<div class="grid">
  <div class="grid-item sidebar">
    <img class="profile" src="../../../assets/img/nikunj.jpg" alt="gmail">
    <hr>
    <p style="color: rgb(121, 121, 121)">WORK</p>
    <h4>SRM Innovation and Incubation Centre</h4>
    <p>Manager</p>
    <p>Jun 2015 - present</p>
    <h4 style="margin-top: 25px">SRM Fab Lab</h4>
    <p>Manager</p>
    <p>Jun 2016 - present</p>
    <hr>
    <p style="color: rgb(121, 121, 121)">SKILLS</p>
    <h4 style="margin-top: 25px">PROJECT MANAGEMENT, TEAM LEADERSHIP, MANAGEMENT</h4>
  </div>
  <div class="grid-item content">
    <h5 style="margin-top: 30px">Nikunj Panchal</h5> 
    <p style="color: #727CF5">Manager</p>
    <p style="margin: 0 !important;">SRM Innovation and Incubation Centre</p>
    <p style="margin: 0 !important;">Batch of 2015</p>
    <div style="display: flex;"><img class="location" src="../../../assets/img/location.svg" alt="">
      <p>Chennai, India</p>
    </div>
    <button class="message" (click)="chat()"> <img class="chat" src="../../../assets/img/chat.svg" alt="">
      <h4 style="display: inline-block;color: #fff;">Send Message</h4>
    </button>
    <button class="message"> <img class="chat" src="../../../assets/img/flag.svg" alt="">
      <h4 style="display: inline-block;color: #fff;">Report User</h4>
    </button>
    <hr>
    <p style="color: rgb(121, 121, 121)">BASIC INFORMATION</p>
    <p><b>Birthday : </b>Jul 3, 2000</p>
    <p><b>Gender : </b>Male</p>
    <hr>
    <p style="color: rgb(121, 121, 121)">CONTACT INFORMATION</p>
    <p><b>Phone : </b>+91-9136-895259</p>
    <p><b>Address : </b>N/A</p>
    <p><b>Email : </b>np8181@srmist.edu.in</p>
    <p><b>Site : </b>nikunjpanchal.com</p>
  </div>
