<app-adminnav></app-adminnav>

<h4 style="margin-top: 50px;">ANALYTICS</h4>
<div class="invite-table">
<table id="auth">
    <tr>
        <th>Name</th>
        <th>College</th>
        <th>Batch</th>
        <th>Reg. No.</th>
        <th></th>
        <th>Accept</th>
        <th>Reject</th>

    </tr>
    <tr *ngFor="let document of documents">
        <td>{{ document.payload.doc.data().firstname }}</td>
        <td>{{ document.payload.doc.data().college }}</td>
        <td>{{ document.payload.doc.data().year }}</td>
        <td>{{ document.payload.doc.data().regno}}</td>
        <td></td>
        <td><button class="btn btn-accept" (click)="accept(document)">Accept</button></td>
        <td><button class="btn btn-reject" (click)="reject(document)" >Reject</button></td>
    </tr>
</table>
</div>