<div class="site-wrap">
    <app-commonnavbar></app-commonnavbar>

    <!-- HOME -->
    <section class="home-section section-hero overlay slanted" id="home-section" style="background-color: rgb(81, 44, 150);">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 text-center">
                    <img src="../../assets/img/Connekt_logo.png" width="500px">
                    <!-- <h1>Connekt</h1> -->
                    <div class="mx-auto w-75">
                        <p>
                            a strong connection from classmates to professionals!
                        </p>
                    </div>
                    <p class="mt-5"><a routerLink ="/alumnilogin" class="btn btn-outline-white btn-md ">Get started</a></p>
                </div>
            </div>
        </div>

        <a href="#about-us-section" class="scroll-button smoothscroll">
            <span class=" icon-keyboard_arrow_down"></span>
        </a>

    </section>

    <!-- ABOUT US -->
    <section class="site-section about-us-section" id="about-us-section">
        <div class="container">

            <div class="row mb-5 pt-0 site-section">
                <div class="col-md-6 align-self-center">
                    <h3 class="section-title-sub text-primary">About Connekt</h3>
                    <h2 class="section-title mb-4">What is Connekt</h2>

                    <p>In simple terms, Connekt is a web based application for colleges and the 
                        Directorate to keep a track of the Alumni. 
                    </p>
                    <p>Currently there are 7 Government colleges and 26 aided colleges under the 
                        Directorate of Higher Education, but there is no mechanism to keep track of them.
                        As a solution, we have developed Connekt. Connekt allows the Alumni of these colleges
                        to register themselves and also allows the Directorate to keep track of them. It 
                        also allows the students of these colleges to connect with the alumni.
                    </p>
                    <p>
                        To know more about us, feel free to "connekt" with us 
                        <a href="mailto:xyz@gmail.com">here</a>.
                    </p>
                    <p class="mt-4"><a href="#" class="spepcial_link">Read more about us</a></p>
                </div>
                <div class="col-md-5 ml-auto img-overlap">
                    <div class="img-1"><img src="../../assets/homepage/images/sq_img_6.jpg" alt="Image" class="img-fluid img-shadow"></div>
                    <div class="img-2"><img src="../../assets/homepage/images/sq_img_10.jpg" alt="Image" class="img-fluid img-shadow"></div>
                </div>
            </div>

            <div class="row pb-0 border-top pt-5 block__19738 section-counter">

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <span class="icon-line-mobile mr-3"></span>
                        <strong class="number" data-number="2393">33</strong>
                    </div>
                    <span class="caption">Colleges Registered</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <span class="icon-line-lightbulb mr-3"></span>
                        <strong class="number" data-number="5400">1L+</strong>
                    </div>
                    <span class="caption">Alumni</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <span class="icon-line-trophy mr-3"></span>
                        <strong class="number" data-number="1200">1000+</strong>
                    </div>
                    <span class="caption">Opportunites</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <span class="icon-line-puzzle mr-3"></span>
                        <strong class="number" data-number="550">550</strong>
                    </div>
                    <span class="caption">Events</span>
                </div>


            </div>

        </div>
    </section>

    <!-- FEATURES -->
    <section class="site-section services-section bg-light block__62849" id="services-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center" data-aos="fade">
                    <h3 class="section-title-sub text-primary">What we provide</h3>
                    <h2 class="section-title mb-3">OUR FEATURES</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                    <a href="service-single.html" class="block__16443 text-center d-block">
                        <span class="custom-icon mx-auto"><span class="icon-line-lightbulb d-block"></span></span>
                        <h3>Alumni to Alumni</h3>
                        <p>Connecting the alumni with their collegues and thus enabling them to re-connekt
                            even after their college days.</p>
                    </a>

                </div>
                <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                    <a href="service-single.html" class="block__16443 text-center d-block">
                        <span class="custom-icon mx-auto"><span class="icon-line-laptop d-block"></span></span>
                        <h3>Alumni to Industry</h3>
                        <p>Conneckts the alumni to the industry and helps them provide opportunities
                            to excel in their career.
                        </p>
                    </a>

                </div>
                <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                    <a href="service-single.html" class="block__16443 text-center d-block">
                        <span class="custom-icon mx-auto"><span class="icon-line-presentation d-block"></span></span>
                        <h3>Alumni to Students</h3>
                        <p>Helps the college students Connekt with the alumni. This gives them a good
                            idea about the requirements of the industry. </p>
                    </a>

                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a routerLink="/alumnilogin" class="btn btn-primary btn-md">Get started</a>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="next-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITM.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Madras</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITB.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Bombay</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITD.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Delhi</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITK.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Kharagpur</h5>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row align-items-center">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITKa.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Kanpur</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITR.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Roorkela</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITG.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Gandhinagar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col mb-4">
                      <div class="card">
                        <img src="../../assets/img/IITGh.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">IIT Guwahati</h5>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>

<app-commonfooter></app-commonfooter>

</div>