<div class="container">

<div class="row">

    <div class="col-md-4">

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/img/face1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mr. Aman Goel</h5>
              <p class="card-text">SRM alumni Mr. Aman Goel wins the best entrprenuer award in clonbal epf event held on 29 Feb '2019</p>
              <a href="#" class="btn btn-primary">Read full story</a>
            </div>
          </div>

    </div>

    <div class="col-md-4">

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/img/face1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mr. Karan Man</h5>
              <p class="card-text">SRM alumni Mr. Aman Goel wins the best entrprenuer award in clonbal epf event held on 29 Feb '2019</p>
              <a href="#" class="btn btn-primary">Read full story</a>
            </div>
          </div>

    </div>
    <div class="col-md-4">

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/img/face1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mr. Karan Man</h5>
              <p class="card-text">SRM alumni Mr. Aman Goel wins the best entrprenuer award in clonbal epf event held on 29 Feb '2019</p>
              <a href="#" class="btn btn-primary">Read full story</a>
            </div>
          </div>

    </div>

</div>
<div class="row">

    <div class="col-md-4">

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/img/face1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mr. Aman Goel</h5>
              <p class="card-text">SRM alumni Mr. Aman Goel wins the best entrprenuer award in clonbal epf event held on 29 Feb '2019</p>
              <a href="#" class="btn btn-primary">Read full story</a>
            </div>
          </div>

    </div>

    <div class="col-md-4">

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/img/face1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mr. Karan Man</h5>
              <p class="card-text">SRM alumni Mr. Aman Goel wins the best entrprenuer award in clonbal epf event held on 29 Feb '2019</p>
              <a href="#" class="btn btn-primary">Read full story</a>
            </div>
          </div>

    </div>
    <div class="col-md-4">

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/img/face1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mr. Karan Man</h5>
              <p class="card-text">SRM alumni Mr. Aman Goel wins the best entrprenuer award in clonbal epf event held on 29 Feb '2019</p>
              <a href="#" class="btn btn-primary">Read full story</a>
            </div>
          </div>

    </div>

</div>
    
</div>