<nav class="nav">
  <div>
    <img src="" alt="logo">
  </div>
  <div>
    <div>
      <i class="fa fa-lg fa-home"></i>
      <p>Home</p>
    </div>
    <div>
      <i class="fa fa-lg fa-users"></i>
      <p>My Network</p>
    </div>
    <div>
      <i class="fa far fa-lg fa-calendar"></i>
      <p>Events</p>
    </div>
    <div>
      <i class="fa fa-lg fa-envelope"></i>
      <p>Messaging</p>
    </div>
    <div>
      <i class="fa fa-lg fa-bell"></i>
      <p>Notices</p>
    </div>
    </div>
    <div class="vertical-line"></div>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="" alt="photo">
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">Settings & Privacy</a>
          <a class="dropdown-item" href="#">Sign Out</a>
        </div>
      </div>
</nav>
