<head>
  <meta charset="utf-8">
  <title>FormWizard_v6</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./admin-panel.component.css">
</head>

<body>
  <div class="nav-head">

  </div>
  <div class="container"></div>
  <nav class="main-menu">
    <ul>
      <li>
        <a href="http://justinfarrow.com">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-laptop fa-2x"></i>
          <span class="nav-text">
            Charts
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text">
            Calendar
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Mailbox
          </span>
        </a>

      </li>
      <li>
        <a href="#">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text">
            Authentication
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-font fa-2x"></i>
          <span class="nav-text">
            Newsletter
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table fa-2x"></i>
          <span class="nav-text">
            Notifications
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <h4>Dashboard</h4>
  <div class="stat-cards">
    <div class="card">
      <p>Alumni Registered</p>
      <h2>4,567</h2>
    </div>
    <div class="card">
      <p>Colleges Registered</p>
      <h2>4,567</h2>
    </div>
    <div class="card">
      <p>Upcoming Events</p>
      <h2>4,567</h2>
    </div>
    <div class="card">
      <p>Upcoming Events</p>
      <h2>4,567</h2>
    </div>
  </div>

  <h4 style="margin-top: 50px;">Analytics</h4>
  <table id="auth">
    <tr>
      <th>Name</th>
      <th>College</th>
      <th>Batch</th>
      <th>Reg. No.</th>
      <th>Proof</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Shrey Sachdeva</td>
      <td>SRMIST</td>
      <td>2022</td>
      <td>RA1811029010045</td>
      <td></td>
      <td><button>Accept</button></td>
      <td><button>Reject</button></td>
    </tr>
    <tr>
      <td>Shrey Sachdeva</td>
      <td>SRMIST</td>
      <td>2022</td>
      <td>RA1811029010045</td>
      <td></td>
      <td><button>Accept</button></td>
      <td><button>Reject</button></td>
    </tr>
    <tr>
      <td>Shrey Sachdeva</td>
      <td>SRMIST</td>
      <td>2022</td>
      <td>RA1811029010045</td>
      <td></td>
      <td><button>Accept</button></td>
      <td><button>Reject</button></td>
    </tr>
  </table>
</body>